@import "../../variables.module.scss";

.headerWrapper {
    background: $white-01;
    position: fixed;
    width: 100%;
    z-index: 2;

}

.headerContent {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.logoText {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $primary-color;
    text-decoration: none;
    font-style: italic;

}


.navWrapper {
    display: flex;
    align-items: center;
}

.navList {
    display: flex;
    gap: 32px;
    flex-direction: row;
    gap: 50px;
}


.navItemLink {
    text-decoration: none;
    color: $black-01;
    font-size: 16px;
    font-weight: 400;

    &:hover {
        color: $primary-color;
        transition: 0.3s;
        font-weight: 700;
    }
}